name: Update report

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: pip install -r requirements.txt

      - name: Generate report
        run: python bilesu_talsi_html.py

      - name: Commit & push
        run: |
          git config user.name "bot"
          git config user.email "bot@github.com"
          git add index.html
          git commit -m "auto update" || echo "no change"
          git pull --rebase origin main || true
          git push
