name: Update report

on:
  schedule:
    - cron: "0 6 * * *"
    - cron: "0 18 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install -r requirements.txt

      - run: python bilesu_talsi_html.py

      - run: |
          git config user.name "bot"
          git config user.email "bot@github.com"
          git add .
          git commit -m "update" || echo "no change"
          git push
